<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Elearning" connectionString="Data Source=LENOVO-PC\SQLEXP;Initial Catalog=elearning;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="elearningConnectionString" connectionString="Data Source=LENOVO-PC\SQLEXP;Initial Catalog=elearning;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="elearningConnectionString2" connectionString="Data Source=LENOVO-PC\SQLEXP;Initial Catalog=elearning;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Windows">
  
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Elearning"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="Elearning" applicationName="/"/>
      </providers>
    </profile>

    <roleManager defaultProvider="AspNetWindowsTokenRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="Elearning" applicationName="/" name="AspNetSqlRoleProvider"
          type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
          type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    
  </system.web>
</configuration>
