body
{
    height: 1000px;
    background-image: url('sunshine.jpg');
    
}
#wrapper
{
    background-color: #FFCC66;
}
        .text
        {
            font-family:Kartika;
            color:Orange;
            font-size:xx-large;
            }
         h4
            {
                font-family:Arial Baltic;
                font-size:xx-large;
                color:Maroon;
                }
                h2
                {
                    font-family:Gentium Basic;
                    font-size:large;
                    color:Orange;
                    }
